/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* pozadie, velkost pisma, druh pisma, zarovnanie textu */

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

/* velkost pisma u jednotlivych headerov */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0; /* vzdialenost medzi jednotlivymi odsekmi v clanku
}

a {
  color: #00a; /* farba linkov v indexe */
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a; /* farba uz videnych clankov/linkov ked na ne kliknem */
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

/* vzdialenost medzi sekciami clankov v indexe Blog posts, Highlighted
 * Media a ine */

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

/* vzialenost medzi linkami jednotlivych clankov v indexe */

  ul.posts li {
    line-height: 1.75em;
  }

/* farba datumov na lavo od linku clankov */

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

blockquote {
background: #eef;
color:#000;
margin:30px 0px;
padding-left:9px;
padding-right:10px;
}
blockquote span {
    display: block; 
    float: right;
    padding-right:20px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

/* sirka stranky (obsahu), velkost fontov, */
.site {
  font-size: 110%;
  text-align: justify;
  width: 47em;
  margin: 3em auto 2em auto; /* okraje od roznych stran */
  line-height: 1.5em; /* vzdialenost medzi jednotlivymi riadkami v clanku aj u likov */
}

.title {
  color: #a00;
  font-weight: bold;  /* hrubka pisma nazvu stranky uplne hore */
  margin-bottom: 2em; /* vzdialenost clankov a indexu od horneho konca */
}

  .site .title a {
    color: #a00;     /* farba nazvu stranky - uplne hore */
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;         /* farma home - uplne hore */
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;      /* hover pre home - uplne hore */
  }

  .site .meta {
    color: #aaa;   /* farba datumu v danom clanku, nie v indexe */
  }

  .site .footer {
    font-size: 80%;
    color: #666;    /* farba textu v footer-i na lavo */
    border-top: 4px solid #eee; /* farba a hrub deliacej ciary */
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

/* tyka sa code triedy v html, obycajny odsek v markdowne - tvori farebny
 * ramcek */

  #post pre {
    background-color: #FFF0ED;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    border: 1px solid #FFF0ED;
    color: #000; /* plati pre odsek, apostrof, kody v R, bash, neplati pre blockquote */
    background-color: #FFF0ED;  /* pozadie vsetkych kodov, apostrofu a odesku okrem blockquote */
  }

    #post pre code { /* toto sa tyka naprogromovaneho pre-kodu (r, python, bash) a tiez odsekov !!! */

      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
    margin:30px 0px; /* margin musi ist skor ako padding !! */
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
