
    <div class="header">


        <a class="site-title" href="{{ site.baseurl}}/">{{site.title}}</a>
            
          
          </br> 
        <nav class="slogan"> 
                <a href="/index.html" class="grey">Domov</a> 
                <a href="/zdravie.html" class="black">Zdravie</a> 
                <a href="/psychika.html" class="black">Psychika</a> 
                <a href="/ezoterika.html" class="black">Ezoterika</a> 
                <a href="/linux.html" class="black">Linux</a> 
                <a href="/vzdelavanie.html" class="black">Vzdelávanie</a> 

          <nav class="hladat">
          <form method="get" action="/search" data-search-form>
            <input type="search" name="q" id="q" placeholder="Enter search term" data-search-input />
            <input type="submit" name="btn" id="btn" value="Hľadaj" />
          </form>
          </nav>
          </nav>
    </div>

                                              
