/**
 * Reset some basic elements
 */
body,h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    h4 {font-size: 16px; } // velkost pisma linkov na clanky
    ul li{margin-left: 25px;}
}

strong { font-weight: bold; }


/**
 * Basic styling
 */
body {
    font-family: $base-font-family; // pisme pre skoro vsetky objekty
    font-size: $base-font-size;
    border: 170px solid #eee;
    border-top: 25px solid #eee;
//    border-left: 171px solid #eee; //#E6E6E6;
//    border-right: 171px solid #eee;//#E6E6E6;
//    border-bottom: 100px solid #eee;
    line-height: $base-line-height; // vzdialenost riadkov clanko a
    // vsetkych objektov hore 
    font-weight: 300;  // hrubka bezneho textu
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

//li {list-style: none}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2; // vzdialenost medzi riadkami v
    //clanku
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: 0; // $spacing-unit; // posuvanie obsahu indexu vlavo-vpravo
}

li {  // nemeni nic
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300; // hrubka pismen pre vsetky clanky a nazvy clankov,
    // indexov
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;
    // hrubka pisma na vsetkych linkoch a nazvu stranky font-weight: thin;

    &:hover {
        color: brown;
        text-decoration: underline;
    }

}



/**
 * Blockquotes

 */
blockquote {
      font-family:Verdana, sans;
    color:#CC0000;
    font-size: 14.5px;
    font-weight:600;
    background:#ffe0d9;
    margin-top:25px;
    margin-bottom:25px;

    > :last-child {
        margin-bottom: 0;
    }
}


/**
 * Code formatting
 */
pre,
code {  // apostrof a code !!
    font-size: 14px; // velkost pisma vsetkych kodov, aj apostrofov
    // okrem blockquote
    // ovplyvnuje apostrof aj code !!!
    background-color: #E6F3F8;
    border: 1px solid #eee;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    //overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    // border-bottom: 1px solid #eee;// $grey-color-light; // ciara header, uplne
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    display: block;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon { // tyka sa ikon - twitter a github

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color; // farba ikon
        }
    }
}
