
.header {
    line-height: 2.5; // uprave vzdialenosti navigacnych ciar
//    margin-bottom: 50px; // vzdialenost Archivu clankov od navigacnych
    // ciar
    text-align: center;
//    border-left: 171px solid #4169E1;
//    border-right: 171px solid   #4169E1;
}


.hladat {
    word-spacing:0px;
    display: inline-block;
    
}

#btn {
        position:relative;
        padding: 2.3px 16px;
        left:-12px;
        border:2px solid #207cca;
        background-color:#207cca;
        color:#fafafa;
        border-radius:18px; 
}

#q { width:150px; // sirka vyladavaca
    font-size: 13px;
    background:white; // farba pozadia
    color:#000; // farba pisma vo vnutri vyladavaca
} // farba pisma


.center {
    text-align: center;
    width: 100%;
}

// .site-title {
//      //'Lobster', Georgia, Times, serif;
//     font-family: Verdana, Times, serif;
//     text-transform: uppercase;
//     font-size: 17px; // velkost nazvu stranky
//     font-weight: bold;
// //   font-weight:bold;
// //    word-spacing: 25px;
//     position:absolute;
//     margin: -60px 0px 0px 160px;
//     //margin-top:30px; // vzdialenost nazvu stranky od horneho konce
//     //margin-bottom:-25px; // vzdialenost nav baru od nazvu stranky
//     &,
//     &:visited {
//         color: gold; //323232;  //#FFFFE0;//              //#9ACD32;   // farba nazvu stranky
//     }
// }

.black{color:gold; }
.grey{color:#ccc}

.slogan {
    // font-family: verdana, arial, clean, sans-serif; // obycajny text
  width: 1024px;
    background: #323232;
    font-size:1.2em;
    font-weight:700;
    letter-spacing:-1px;
    word-spacing: 45px;
    display: inline-block;
    //margin-top: 5px; // vzdialenost nav baru od nazvu stranky
}

/**
 * Site footer
 */

#footer {
border-top:1px solid #D3D3D3;
clear:both;
color:#800000;
font-size:0.9em;
line-height:2.6em;
margin:0 auto;
padding:8px 0;
text-align:right;
}

#footer p {
margin:0;
padding:0;
}

#footer a {
color:black
}


/**
 * Page content
 */
.page-content {
    //border-left: 171px solid #4169E1;
    //border-right: 171px solid   #4169E1;
    padding: 80px;// posuva to cely index hore smerov k
    // ciare (posuva nazov clanku a Posts)
}

.page-heading { 
    font-size: 26px; // nazov indexu (Posts)
    margin-bottom: 30px ;
    border-bottom: 1px solid #eee;
}

.post-list {  // tyka sa len clankoch v indexe, teda linkov na clanky
    margin-left: 0; // posuvanie indexu clankov na lavo-pravo
    list-style: none;
    line-height: 0.7;
    ul span {color:#696969; float: right;}// tyka sa datumu v indexe
    ul { border-bottom: 2px dashed #eef; margin-bottom: 16px;}
    li {list-style: disc}
}



//ul.posts-list ul span {float:right; font-family:monofur, monaco, courier;
// color:#fff; } /* farba datumu */ 

.post-meta {
    font-size:1.0em;
    color: #aaa; // farba datumov
    text-align:left;
    //color: #8B008B;
    //float: right;
    //width: 100px
}

.post-link {
    display: block; // block znamena, ze text ide za sebou oddeleny po
    // s medzerami 
    font-size: 17.5px; // velkost pisma nazvov clankov - UZ NEMA VPLYV !!!
}



/**
 * Posts
 */
.post-header { // od hornej deliacej ciary po datum clanku - to je HEADER !!!
    margin-bottom: 30px; //$spacing-unit; // vzdialenost textu od nazvu clanku
}

.post-title {
    font-size: 26px;  // velkost pisma v nazve clanku
    letter-spacing: 0px; // medzery medzi pismenami v nazve clanku
    line-height: 0.5; // vzdialenost nazvu clanku od hornej deliacej ciary

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}



.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 22px; // velkost pisma headeru ##

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h2 {
        font-size: 32px; // velkost pisma headeru ##

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 22px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

